html, body {
    padding:0;
    margin:0;
}

figure {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.c-site-wrapper {
    padding: 25px;
}

.c-content {
    padding: 10px;
    color: #808080;
    padding: 45px;
    max-width: 650px;
    margin: 0 auto;
}

.c-content p {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8;
}

.c-content h1 {
    font-size: 2rem;
    color: #30353D;
}

.c-content h2 {
    font-size: 1.6rem;
    color: #30353D;
}

.c-footer {
    font-family: 'Roboto Slab', serif;
}

.c-magnificent-figure-box {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
}

.c-figure {
    background: rgba(0,0,0, 0.1);
    padding: 10px;
    border-radius: 4px;
}

.c-figcaption {
    font-style: italic;
    text-align: right;
}

.h-wrap-centre {
    display: flex;
    justify-content: center;
    width: 100%;
}

.c-img {
    border-radius: 4px;
}

.c-img-coconut-nut {
    height: 600px;
}
.c-img-detestable-bird {
    width: 600px;
}

.c-img-tasty-bird {
    width: 600px;
}

.c-img-birdy-portrait {
    height: 380px;
    width: 270px;
}

.c-footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.c-end-text {
    font-size: 1.2rem;
    text-align: center;
    color: #808080;
}

.c-deception-box {
    margin-top: 600px;
}
