.c-content {

}

.l-content {

}

.c-figure-box {
    display: flex;
    flex-direction: row;
    height: 380px;
    width: 270px;
}

img {
    width: 380px;
}

.c-birdy-portrait {
    height: 380px;
    width: 270px;
}
